// Container widths
//
// Set the container width, and override it for fixed navbars in media queries.

@if $enable-grid-classes {
  .container {
    @include make-container();
    @include make-container-max-widths();
  }
}

// Fluid container
//
// Utilizes the mixin meant for fixed width containers, but with 100% width for
// fluid, full width layouts.

@if $enable-grid-classes {
  .container-fluid {
    @include make-container();
  }
}

// Row
//
// Rows contain and clear the floats of your columns.

@if $enable-grid-classes {
  .row {
    @include make-row();
    &--0{
      margin-left: -2.5px;
      margin-right: -2.5px;
      > .col,
      > [class*="col-"] {
        padding-right: 2.5px;
        padding-left: 2.5px;
      }
    }
    &--1{
      margin-left: -5px;
      margin-right: -5px;
      > .col,
      > [class*="col-"] {
        padding-right: 5px;
        padding-left: 5px;
      }
    }
    &--2{
      margin-left: -10px;
      margin-right: -10px;
      > .col,
      > [class*="col-"] {
        padding-right: 10px;
        padding-left: 10px;
      }
    }
    &--3{
      margin-left: -40px;
      margin-right: -40px;
      > .col,
      > [class*="col-"] {
        padding-right: 40px;
        padding-left: 40px;
      }
    }
    &--4{
      margin-left: -30px;
      margin-right: -30px;
      > .col,
      > [class*="col-"] {
        padding-right: 30px;
        padding-left: 30px;
      }
    }
    &--5{
      margin-left: -20px;
      margin-right: -20px;
      > .col,
      > [class*="col-"] {
        padding-right: 20px;
        padding-left: 20px;
      }
    }
    &--6{
      margin-left: -25px;
      margin-right: -25px;
      > .col,
      > [class*="col-"] {
        padding-right: 25px;
        padding-left: 25px;
      }
    }
    
  }

  // Remove the negative margin from default .row, then the horizontal padding
  // from all immediate children columns (to prevent runaway style inheritance).
  .no-gutters {
    margin-right: 0;
    margin-left: 0;

    > .col,
    > [class*="col-"] {
      padding-right: 0;
      padding-left: 0;
    }
  }
}

// Columns
//
// Common styles for small and large grid columns


