

$enable-grid-classes:                         true !default;

// Utilities

$displays: none, inline-block, block, flex, !default;
$overflows: auto, hidden !default;
$positions: relative, absolute, fixed, !default;
