

.c-footer{
  background: #3D3D3D;
  color: white;
  padding: 40px 0;
  @include media-breakpoint-down(md){
    padding: 20px 0 90px;
  }

  li{
    list-style: none;
    margin-bottom: 10px;
  }

  a{
    color: white;
  }

  svg{
    width: 10%;
    margin-right: 15px;
  }
}