.c-tablist{
  justify-content: center;

  @include media-breakpoint-down(sm){
    .nav-item{
      display: block;
      width: 100%;
      text-align: center;
    }

  }


  &__item{
    height: 60px !important;
    line-height: 60px !important;
    background: $bg-1;
    color: $color-light;
    margin-bottom: 20px;

    margin-right: 20px;
    padding: 0 15px;
    border-radius: 6px !important;

    @include media-breakpoint-up(xxl){
      margin-right: 90px;
      height: 70px !important;
      line-height: 70px !important;
      padding: 0 70px;
    }

    &.active{
      color: white !important;
      background: $color-1 !important;
    }


  }

  &__pane{
    display: flex;
    justify-content: space-around;
    a{
      margin: 0 15px;
    }

    img{
      max-height: 40px;
      margin-bottom: 15px;
      @include media-breakpoint-up(xxl){
        max-height: 60px;

      }
    }
  }

}